{% extends 'staffs/staff_index.html' %}

{% block content%}

<h2>All Report Cards</h2>
<a href="{% url 'staff-reportcard-create' %}">Add New Report Card</a>
<table>
    <tr>
        <th>Student</th>
        <th>Tamil</th>
        <th>English</th>
        <th>Maths</th>
        <th>Science</th>
        <th>Social</th>
        <th>Status</th>
        <th>Parent Signature</th>
        <th>Actions</th>
    </tr>
    {% for card in cards %}
    <tr>
        <td>{{ card.student.get_full_name }} ({{ card.student.username }})</td>
        <td>{{ card.tamil }}</td>
        <td>{{ card.english }}</td> 
        <td>{{ card.maths }}</td>
        <td>{{ card.science }}</td>
        <td>{{ card.social }}</td>
        <td>{{ card.status }}</td>
        <td>{{ card.parent_signature }}</td>
        <td>
            <a href="{% url 'staff-reportcard-update' card.pk %}">Edit</a> |
            <a href="{% url 'staff-reportcard-delete' card.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content%}

