<style>
    table {
     border-collapse: collapse;
     width: 100%;
     border-color: transparent;
 }
 th, td {
     border: 1px solid black;
     padding: 10px;
     text-align: start;
 }
 thead {
     background-color: #6DE1D2;
 }
 /* NEW working colors */
 .pending {
     color: orange;
     font-weight: bold;
 }
 .approved {
     color: green;
     font-weight: bold;
 }
 .rejected {
     color: red;
     font-weight: bold;
 }
 .submit-btn button{
     background-color: #6DE1D2;
     border-color: transparent;
     color: white;
     border-radius: 3px;
 }
 tbody tr {
     font-size: 16px;
     background-color: #E3E3E3;
 }
 tbody tr:hover {
 background-color: #c8c7c7;
 cursor: pointer;
}
.submit-btn button{
     background-color: #6DE1D2;
     border-color: transparent;
     color: white;
     border-radius: 3px;
     color: black;
     font-size: 18px;
 }
</style>


{% extends 'staffs/staff_index.html' %}

{% block title %}
  Attendance / Leave Management for staff
{% endblock title %}

{% block breadcrumb %}
  <h5>Attendance</h5>
{% endblock breadcrumb %}

{% block content %}
  <!-- <h3>Staff Attendance Info</h3>
  <p>Attendance and leave records will be shown here.</p> -->
  <div>
    <h2 class="text-center">Leave Requestsss</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Staff</th>
                <th>Reason</th>
                <th>Date Applied</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in leaves %}
            <tr>
                <td>{{ leave.staff.username }}</td>
                <td>{{ leave.reason }}</td>
                <td>{{ leave.date_applied }}</td>
                <td>{{ leave.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No leave requests submitted.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <!-- Leave Request Form -->
    <h3>Add Leave Request</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit-btn">
            <button type="submit">Submit Leave</button>
        </div>
    </form>

</div>
{% endblock content %}



