{% extends 'students/student_index.html' %}

{% block content %}
<h2>Your Report Card</h2>
<table>
    <tr>

        <th>standard</th>
        <th>section</th>
        <th>academic_session</th>
        <th>father_name</th>
        <th>mother_name</th>
        <th>address</th>
        <th>admission_number</th>
        <th>roll_number</th>
        <th>date_of_birth</th>  
        <th>tamil</th>
        <th>english</th>
        <th>maths</th>
        <th>science</th>
        <th>social</th>
        <th>overall_total</th>
        <th>overall_precentage</th>
        <th>overall_grade</th>
        <th>term</th>
        <th>status</th>
        <th>comments</th>
        <th>date</th>
        <th>signature_class_teacher</th>
        <th>signature_principal</th>
        <th>parent_signature</th>
        <th>created_at</th>
        





    </tr>
    {% for card in cards %}
    <tr>
        <td>{{ card.standard }}</td>
        <td>{{ card.section }}</td>
        <td>{{ card.academic_session }}</td>
        <td>{{ card.father_name }}</td>
        <td>{{ card.mother_name }}</td>
        <td>{{ card.address }}</td>
        <td>{{ card.admission_number }}</td>
        <td>{{ card.roll_number }}</td>
        <td>{{ card.date_of_birth }}</td>

        <td>{{ card.tamil }}</td>
        <td>{{ card.english }}</td>
        <td>{{ card.maths }}</td>
        <td>{{ card.science }}</td>
        <td>{{ card.social }}</td>
        <td>{{ card.overall_total }}</td>
        <td>{{ card.overall_percentage }}</td>
        <td>{{ card.overall_grade }}</td>
        <td>{{ card.term }}</td>
        <td>{{ card.status }}</td>
        <td>{{ card.comments }}</td>

        <td>{{ card.date }}</td>
        <td>{{ card.signature_class_teacher }}</td>
        <td>{{ card.signature_principal }}</td>
        <td>{{ card.parent_signature }}</td>
        <td>{{ card.created_at }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}